<div class="header">

  <div class="header-heading">
    <div class="header-heading-line_1">
      <h1 class="fnt-300-gilroy">Привет! Я Алина,&nbsp;</h1><img src="../../../../../assets/img/home/header/create-1.svg">
    </div>
    <div class="header-heading-line_2">
      <h1 class="fnt-300-gilroy">твой личный <i>fitness-тренер</i></h1>
    </div>
  </div>

  <div class="header-description fnt-400-gilroy">
    Мое основное призвание – помочь тебе достичь своих фитнес-целей и обрести самую лучшую версию себя.
    Безусловно, каждый человек уникален, и мой подход к тренировкам и питанию полностью индивидуализирован,
    чтобы удовлетворить твои потребности и желания.
  </div>

</div>
