<div class="header">

  <div class="header-heading">
    <div class="header-heading-line_1">
      <h1 class="fnt-300-gilroy">Привет! Я Алина,&nbsp;</h1><img src="../../../../../assets/img/home/header/create-1.svg">
    </div>
    <div class="header-heading-line_2">
      <h1 class="fnt-300-gilroy">твой личный <i>fitness-тренер</i></h1>
    </div>
  </div>

  <div class="header-description fnt-400-gilroy">
    Из любви к телу - главный принцип моих тренировок с вами. Мои занятия про красоту, силу, выносливость, дисциплину и, главное, здоровье.
    Каждый человек уникален, и мой подход к каждому спортсмену индивидуален. Изменено лишь одно: все тренировки из любви.
  </div>

</div>
