<div class="client-online container">
  <mat-tab-group [(selectedIndex)]="storeService.tabsOnPersonalPage">

    <mat-tab label="Персональная информция">
      <app-personal-data
        [user]="user">
      </app-personal-data>
    </mat-tab>

    <mat-tab label="График тренировок">
      <app-training-schedule
        [user]="user">
      </app-training-schedule>
    </mat-tab>

    <mat-tab label="Мои параметры">
      <app-my-parameters
        [user]="user">
      </app-my-parameters>
    </mat-tab>

    <mat-tab label="До/После">
      <app-before-after
        [user]="user">
      </app-before-after>
    </mat-tab>

  </mat-tab-group>
</div>
