<!--====сделать спиннер отдельным компонентом-->

<div class="client-online">

  <app-personal-data
    *ngIf="StoreService.TabsPage === TabsPage.personalData"
    [user]="user">
  </app-personal-data>
  <app-training-schedule
    *ngIf="StoreService.TabsPage === TabsPage.trainingSchedule"
    [user]="user">
  </app-training-schedule>
  <app-my-parameters
    *ngIf="StoreService.TabsPage === TabsPage.myParameters"
    [user]="user">
  </app-my-parameters>
  <app-before-after
    *ngIf="StoreService.TabsPage === TabsPage.beforeAfter"
    [user]="user">
  </app-before-after>
</div>
