<div class="personal-data">

  <div class="personal-data-about">
    <div class="personal-data-about-main">
      <el-avatar-client [active]="user.is_active"></el-avatar-client>
      <p class="full-name fnt-600-gilroy">{{user.first_name}}&nbsp;{{user.last_name}}</p>
      <p class="user-name fnt-400-gilroy">{{user.username}}</p>
    </div>
    <div class="personal-data-about-footer">
      <div>
        <span class="name fnt-600-gilroy">дата начала тренировок:</span>&nbsp;
        <span class="value fnt-600-gilroy">
          {{user.personal?.start_train | date:'dd-MM-yyyy'}}
        </span>
      </div>
      <div>
        <span class="name fnt-600-gilroy">дата рождения:</span>&nbsp;
        <span class="value fnt-600-gilroy">
          {{user.personal?.birth_day | date:'dd-MM-yyyy'}}
        </span>
      </div>
    </div>
  </div>

  <hr>

  <div class="personal-data-details">
    <el-train-card [type]="'button'"></el-train-card>
    <ng-container *ngFor="let itemTrain of nearestTrains">
      <el-train-card [type]="'info'" [itemTrain]="itemTrain"></el-train-card>
    </ng-container>
  </div>

</div>
