@import "../../../../../assets/scss/index";

.personal-data{
  position: relative;
  display: flex;
  align-items: flex-start;

  .personal-data_photo{
    width: 250px;
    min-width: 250px;
    height: 350px;
    border-radius: $border-radius-1;
    background-color: $blue;
  }

  .personal-data_data{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
  }
}
