.custom-input {
  width: 100%;


  .mat-form-field-flex {
    height: 30px;
    border-radius: 10px!important;
  }
  .mat-form-field-wrapper {
    height: 30px;
    padding: 0!important;
  }


  .mat-form-field-infix {
    transform: translateY(-17px) !important;
  }
  .mat-form-field-underline {
    width: 97%;
    transform: translateX(1.7%) translateY(20px);
  }

}

