<div class="home">

  <div #upElement class="home-header container-m-20">
    <comp-header></comp-header>
  </div>

  <div class="home-header-sticky container-p-20">
    <comp-header-sticky
      (scrollAbout)="scroll(aboutElement)"
      (scrollServices)="scroll(servicesElement)"
      (scrollQuestions)="scroll(questionsElement)"
      (scrollUp)="scroll(upElement)"
    ></comp-header-sticky>
<!--    <comp-header-sticky></comp-header-sticky>-->
    <hr>
  </div>

  <div #aboutElement class="home-about mb-40">
    <comp-about></comp-about>
  </div>

  <div #servicesElement class="home-services container-p-20 mb-40">
    <comp-services></comp-services>
  </div>

  <div #reviewsElement class="home-reviews container-p-20 mb-40">
    <comp-reviews></comp-reviews>
  </div>

  <div #questionsElement class="home-faq container-p-20 mb-40">
    <comp-faq></comp-faq>
  </div>

  <div class="home-footer container-p-20">
    <comp-footer (scrollAbout)="scroll(aboutElement)"
                 (scrollServices)="scroll(servicesElement)"
                 (scrollQuestions)="scroll(questionsElement)"
                 (scrollReviews)="scroll(reviewsElement)"
    ></comp-footer>
  </div>


</div>
