<div class="home">

  <div class="home-header container-m-20">
    <comp-header></comp-header>
  </div>

  <div class="home-header-sticky container-p-20">
    <comp-header-sticky></comp-header-sticky>
    <hr>
  </div>

  <div class="home-about mb-40">
    <comp-about></comp-about>
  </div>

  <div class="home-services container-p-20 mb-40">
    <comp-services></comp-services>
  </div>

  <div class="home-reviews container-p-20 mb-40">
    <comp-reviews></comp-reviews>
  </div>

  <div class="home-faq container-p-20 mb-40">
    <comp-faq></comp-faq>
  </div>

  <div class="home-footer container-p-20">
    <comp-footer></comp-footer>
  </div>


</div>
