<div class="before-after">

  <div class="before-after-active">
<!--    <el-select-activity-client-->
<!--      (changeClientGroupEmitter)="changePhotosView($event)"-->
<!--      [btnGroup]="btnGroup"-->
<!--    ></el-select-activity-client>-->
    <h2 class="fnt-600-gilroy test">Все фото</h2>
  </div>

  <div class="before-after-list">
    <p class="not-full fnt-400-gilroy"
       *ngIf="!allItemPhoto || allItemPhoto.length === 0"
    >Пока нет фото</p>
    <el-photos-group *ngIf="allItemPhoto" [photos]="allItemPhoto"
                     [removeMode]="false"
    ></el-photos-group>
  </div>

</div>
