@import '../../../../../styles';

.before-after{
  max-height: calc(100vh - 50px);
  overflow-y: auto;

  &-active {
    margin-bottom: 20px;
  }

  &-list {
    .not-full {
      color: $static-grey-middle;
    }
  }

}



.test {
  color: $static-grey-middle;
}
