@import "src/styles";

.admin-schedule {

  .month-now {
    text-align: center;
  }

  .days-weak {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 12px;
    padding: 12px;

    &-item {
      min-width: 100px;
      text-align: center;
      font-size: 12px;
      color: $static-grey-middle;
    }
  }

  .calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 12px;
    padding: 12px;

    &-item {
      cursor: pointer;
      height: 100px;
      min-width: 100px;
      padding: 3px;
      border: 1px solid transparent;
      border-radius: 3px;
      background-color: $static-white-middle;
      color: $static-grey-middle;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;

      &-data {
        padding: 0px 4px;
        border-radius: 7px;
        background-color: $static-grey-extralight;
      }

      &-details {
        display: flex;
        .item {
          padding: 0px 3px;
          border-radius: 12px;
          img {transform: translateY(3px)}
        }
      }

      &-active {
        font-size: 11px;
      }
    }


  }

  .month {
    color: $static-grey-middle;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    mat-icon {
      transform: translateY(3px) translateX(5px);
    }
  }
}

