@import '../../../../../styles';

.photos {


  &-details {
    position: relative;
    padding: 20px;
    max-height: calc(100vh - 50px);
    overflow: hidden;

    .header {
      display: flex;
      align-items: end;
      justify-content: space-between;
      @media (max-width: 500px) {
        flex-direction: column;
      }


      &-info {
        display: flex;
        align-items: center;
        @media (max-width: 500px) {
          flex-direction: column;
        }

        &-description {
          transform: translateY(-10px);
          margin-left: 15px;

          &-name {
            font-size: 28px;
            margin-bottom: 10px;
            color: $static-grey-middle;
          }
          &-username {
            font-size: 16px;
            color: $static-grey-light;
          }
        }
      }

      &-btn {
        transform: translateY(-10px);

        &-item {
          margin-left: 10px;
        }
      }
    }

    .content {
      height: calc(100vh - 285px);
      overflow-y: auto;
      @media (max-width: 500px) {
        flex-direction: column;
      }
    }

    .close {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }

  &-active {
    margin-bottom: 40px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-gap: 2rem;
    justify-content: space-between;

    &-item {
      width: 250px;
      height: 320px;
      padding: 12px;
      border-radius: 5px;
      background-color: $static-white-middle;
      cursor: pointer;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 400px) {
        width: 210px;
      }

      .header{
        width: 100%;

        &-description {
          height: 20px;
          display: flex;
          justify-content: space-between;

          &-txt {
            color: $static-grey-light;
          }
          &-icon {
            transform: rotate(45deg);
            color: $static-grey-middle;
          }
        }
        &-date {
          font-weight: bold;
          color: $static-grey-middle;
        }
      }

      .content{
        display: flex;
        flex-direction: column;
        align-items: center;

        &-name {
          font-size: 16px;
          font-weight: bold;
          margin: 5px;
          color: $static-grey-middle;
        }
        &-username {
          color: $static-grey-light;
        }
      }

      .footer{
        width: 100%;
        display: flex;
        justify-content: space-between;

        &-description {
          color: $static-grey-light;
        }
        &-number {
          font-weight: bold;
          color: $static-grey-middle;
        }
      }
    }
  }


}

hr {
  margin: 15px 0;
  opacity: .3;
}
