@import '../../../../../assets/scss/index.scss';

.before-after-create{

  //&__box{
  //  display: flex;
  //  flex-wrap: wrap;
  //}
  //
  //&__item{
  //  margin: 5px;
  //
  //  &-photo{
  //    display:flex;
  //    align-items:center;
  //    justify-content: center;
  //    width: 130px;
  //    height: 200px;
  //    overflow: hidden;
  //    border-radius: $border-radius-3;
  //
  //    img{
  //      height: 100%;
  //      position: center;
  //    }
  //  }
  //
  //  &-desc{
  //    text-align: center;
  //    padding: 3px;
  //    margin-top: 5px;
  //    background-color: $blue-light;
  //    border-radius: 10px;
  //  }
  //}

  .box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      border: 1px solid $pink;
      border-radius: 10px;
      padding: 15px;
      margin: 5px;

      &-date {}

      &-box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;


        &-item {
          display:flex;
          align-items:center;
          justify-content: center;
          margin: 5px;

          width: 130px;
          height: 200px;
          overflow: hidden;
          border-radius: $border-radius-3;

          img{
            height: 100%;
            position: center;
          }
        }
      }
    }
  }
}

