<div class="before-after-create">

  <h2 class="mt-20">Фото До/После: </h2>

  <div class="mat-elevation-z8 mr-20">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of allClients"
                           (opened)="openedItemPanel(item.id)"
                           [hideToggle]="hideToggle">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="before-after-create__header">{{item.first_name}} {{item.last_name}}</div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="before-after-create__box mt-10">
          <div class="before-after-create__item" *ngFor="let photo of allPhotos">
            <div class="before-after-create__item-photo"><img src="{{env.apiUrl + photo?.file_name}}"></div>
            <p class="before-after-create__item-desc">{{photo.date | date:'dd-MM-yyyy'}}</p>
          </div>
        </div>

        <div class="flex-center mt-10">
          <button mat-raised-button color="primary"
                  (click)="openModal(item.id)"
          >Добавить фото</button>
        </div>


      </mat-expansion-panel>
    </mat-accordion>
  </div>


</div>
