@import "../../../styles";

.personal {
  height: 100vh;
  display: flex;
  background-color: $static-pink-light;
  overflow-x: scroll;

  &-pages {
    width: 100%;
    padding: 20px 0 20px 20px;
    @media (max-width: 500px) {
      padding: 10px 0 10px 10px;
    }
  }
}
