<div class="about">

  <div class="about-img"><img src="../../../../../assets/img/home/about/alina-1.png" alt="alina"></div>

  <div class="about-content container-m-20">
    <div class="about-content-text">
      <h1 class="fnt-400-gilroy">Обо мне</h1>
      <p class="fnt-300-gilroy">Я - тренер с 2018 года<br>
        и <span><u>сертифицированный специалист</u><mat-icon color="primary">crop_free</mat-icon></span><br>
        в области фитнеса. Разработаю для тебя эффективные тренировки, чтобы помочь тебе стать сильной, здоровой и полной энергии.
      </p>
    </div>
  </div>

  <div class="about-photos">
    <img class="about-photos_1" src="../../../../../assets/img/home/about/alina-about-1.png" alt="alina-about-1">
    <img class="about-photos_2" src="../../../../../assets/img/home/about/alina-about-2.png" alt="alina-about-1">
    <img class="about-photos_3" src="../../../../../assets/img/home/about/alina-about-3.png" alt="alina-about-1">
    <img class="about-photos_4" src="../../../../../assets/img/home/about/alina-about-4.png" alt="alina-about-1">
  </div>

</div>
