@import "../../../../../styles";

.about {

  &-img {
    width: 100%;
    height: auto;
    border-right: 10px;
    margin-bottom: 40px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-content {

    &-text {
      display: flex;
      h1 {
        width: 25%;
        font-size: 40px;
        line-height: 46px;
        color: $static-grey-middle;
        @media (max-width: 1550px) {
          font-size: 28px;
          line-height: 28px;
          mat-icon {transform: translateY(5px) scale(1); margin-left: 5px}
        }
      }
      p {
        width: 75%;
        font-size: 64px;
        line-height: 72px;
        color: $static-grey-strong;
        u {color: $static-pink-middle;}
        span {cursor: pointer}
        mat-icon {transform: scale(2); margin-left: 20px}
        @media (max-width: 1550px) {
          font-size: 36px;
          line-height: 42px;
          mat-icon {transform: translateY(5px) scale(1); margin-left: 5px}
        }
      }
    }
  }

  &-photos {
    position: relative;
    height: 60vw;
    @media (min-width: 1850px) {
      height: 65vw;
    }
    @media (min-width: 2000px) {
      height: 70vw;
    }
    @media (min-width: 2200px) {
      height: 75vw;
    }
    @media (max-width: 1650px) {
      height: 800px;
    }


    &_1 {
      height: auto;
      position: absolute;
      width: calc(100vw - 1200px);
      min-width: 500px;
      z-index: 7;
      transform: translateY(60px);
    }
    &_2 {
      position: absolute;
      width: calc(100vw - 1200px);
      min-width: 400px;
      z-index: 10;
      left: 30vw;
      transform: translateY(220px);
      @media (max-width: 1050px) {
        display: none;
      }
    }
    &_3 {
      position: absolute;
      width: calc(100vw - 1500px);
      min-width: 250px;
      z-index: 9;
      left: 60vw;
      @media (max-width: 1050px) {
        display: none;
      }

    }
    &_4 {
      position: absolute;
      width: calc(100vw - 1200px);
      min-width: 500px;
      z-index: 8;
      right: 0;
      transform: translateY(120px);
    }
  }
}
