<div class="personal">
  <div class="container">
    <app-header [title]="'Личный кабинет'"></app-header>

    <mat-drawer-container class="personal-box" autosize>
<!--      ====переделать значение value-->
<!--      ====переделать айди ролей в енам-->
      <mat-drawer #drawer class="personal-box__sidenav" mode="side" opened="opened">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical="vertical">
          <mat-button-toggle checked value="test"
                             *ngIf="StoreService.USER.roleId === 1"
                             (click)="setTabsPage(TabsPage.personalData)"
          >Личные данные</mat-button-toggle>
          <mat-button-toggle value="test"
                             *ngIf="StoreService.USER.roleId === 1"
                             (click)="setTabsPage(TabsPage.trainingSchedule)"
          >График тренировок</mat-button-toggle>
          <mat-button-toggle value="test"
                             *ngIf="StoreService.USER.roleId === 1"
                             (click)="setTabsPage(TabsPage.myParameters)"
          >Мои параметры</mat-button-toggle>
          <mat-button-toggle value="test"
                             *ngIf="StoreService.USER.roleId === 1"
                             (click)="setTabsPage(TabsPage.beforeAfter)"
          >До/После</mat-button-toggle>

          <mat-button-toggle checked value="test"
                             *ngIf="StoreService.USER.roleId === 2"
                             (click)="setTabsPage(TabsPage.createClient)"
          >Создать клиента</mat-button-toggle>
          <mat-button-toggle value="test"
                             *ngIf="StoreService.USER.roleId === 2"
                             (click)="setTabsPage(TabsPage.updateParameters)"
          >Детализация по клиентам</mat-button-toggle>
          <mat-button-toggle value="test"
                             *ngIf="StoreService.USER.roleId === 2"
                             (click)="setTabsPage(TabsPage.adminSchedule)"
          >Мой график</mat-button-toggle>
          <mat-button-toggle value="test"
                             *ngIf="StoreService.USER.roleId === 2"
                             (click)="setTabsPage(TabsPage.beforeAfterCreate)"
          >Фото До\После</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-drawer>

      <div class="personal-box__content">
        <button
          class="personal-box__content-btn"
          mat-mini-fab
          color="primary"
          type="button"
          (click)="drawer.toggle(); (sidebarIs === 'keyboard_arrow_left' ?
                                     sidebarIs = 'keyboard_arrow_right' :
                                     sidebarIs = 'keyboard_arrow_left')"
        ><mat-icon>{{sidebarIs}}</mat-icon></button>
        <div class="personal-box__content-rout">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-drawer-container>

  </div>
</div>
