@import "../../../../styles";

.sidenav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background-color: $static-white-middle;

  &-header {
    display: flex;
    justify-content: space-between;

    &-item {
      font-size: 14px;
      line-height: 24px;
      color: $static-grey-middle;
    }
    .change {
      cursor: pointer;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    transform: translateY(-200px);

    &-item {
      font-size: 28px;
      line-height: 130%;
      cursor: pointer;
      color: $static-grey-strong;
    }
  }

  &-footer {
    display: flex;
    flex-direction: column;
    color: $static-grey-middle;

    &-out {
      margin-bottom: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    &-inmain {
      margin-bottom: 40px;
      cursor: pointer;
    }
    &-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-img {opacity: .7;}
      &-time {}
    }
  }

}


.active {
  color: $static-pink-middle;
  transition: all .2s ease-in-out;
}

