<!--сделать спиннер отдельным компонентом-->

<div class="admin container">
  <mat-tab-group [(selectedIndex)]="storeService.tabsOnPersonalPage">

    <mat-tab label="Создать клиента">
      <app-create-client *ngIf="storeService.tabsOnPersonalPage === 0"
        [user]="user"
      ></app-create-client>
    </mat-tab>

    <mat-tab label="Детализация по клиентам">
      <app-update-parameters-client *ngIf="storeService.tabsOnPersonalPage === 1"
        [user]="user"
      ></app-update-parameters-client>
    </mat-tab>

    <mat-tab label="Фото клиентов До/После">
      <app-before-after-create *ngIf="storeService.tabsOnPersonalPage === 2"
        [user]="user"
      ></app-before-after-create>
    </mat-tab>

    <mat-tab label="Мой график">
      <app-admin-schedule *ngIf="storeService.tabsOnPersonalPage === 3"
        [user]="user"
      ></app-admin-schedule>
    </mat-tab>

  </mat-tab-group>
</div>
