<div class="admin-schedule">

  <div class="mat-elevation-z8 mr-20">
    <h2 class="month-now mt-20">{{monthEnum[nowMonth]}}</h2>
    <div class="calendar">
      <div class="calendar-item"
           *ngFor="let item of calendarData"
           (click)="openModal(item)">

        <span class="calendar-item-data">{{item.data}}</span>
        <div class="calendar-item-details">
          <div class="item"
               *ngFor="let clientTrain of item.details"
               matTooltip="{{clientTrain.clientFirstName}} {{clientTrain.clientLastName}} {{clientTrain.time_start}}"
               [matTooltipPosition]="'above'"
          ></div>
        </div>

      </div>
    </div>
  </div>

</div>
