@import "../../../../../assets/scss/index";

.admin-schedule {

  .month-now {
    text-align: center;
  }

  .calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    padding: 10px;

    &-item {
      height: 50px;
      border: 1px solid $black;
      border-radius: 3px;
      padding: 5px;
      position: relative;

      &-data {
        position: absolute;
      }
      &-details {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;

        .item {
          width: 15px;
          height: 15px;
          background-color: $yellow;
          border-radius: 3px;
          margin: 2px;
        }
      }
    }
  }
}

