@import "../../../../../styles";

::ng-deep .mat-expansion-panel {
  box-shadow: none !important;
  .mat-expansion-panel-header-title {
    font-size: 20px;
    line-height: 46px;
    color: $static-grey-strong;
    border-radius: 0;
    border-bottom: 1px solid rgba(102, 107, 125, 0.2);
  }
}


.faq {
  display: flex;

  h1 {
    width: 25%;
    font-size: 40px;
    line-height: 46px;
    color: $static-grey-middle;
  }

  &-list {
    width: 75%;

    &-item-answer {
      font-size: 16px;
      line-height: 22px;
    }
  }

}
