<div class="modal-certificates">

  <swiper
    [slidesPerView]="1"
    [spaceBetween]="50"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    [thumbs]="{ swiper: thumbsSwiper }"
  >
    <ng-template swiperSlide><img src="../../../../../../assets/img/home/services/cert1.png"></ng-template>
    <ng-template swiperSlide><img src="../../../../../../assets/img/home/services/cert1.png"></ng-template>
    <ng-template swiperSlide><img src="../../../../../../assets/img/home/services/cert1.png"></ng-template>
    <ng-template swiperSlide><img src="../../../../../../assets/img/home/services/cert1.png"></ng-template>
  </swiper>

</div>
