@import "../../../../../../styles";
//styles in material-element.scss file

img {
  height: inherit;
}

swiper {
  transform: scale(1.1);
}

::ng-deep {
  .mat-dialog-container {
    overflow: hidden!important;
  }
}
