<div class="home">
  <div class="home_content">


    <div class="home_content__item-1"
         [routerLink]="['/login']"
         (mouseenter)="activeSection = 'section_1'"
         (mouseleave)="activeSection = ''"
    >
      <app-home-title
        [description]="'Инфа про авторизацию инфа про авторизацию инфа про авторизацию инфа про авторизацию'"
        [active]="activeSection === 'section_1'"
      ></app-home-title>
      <div class="logo-container">
        <img src="assets/img/logo.png">
        <p>из любви к своему телу</p>
      </div>
    </div>


    <div class="home_content__item-2"
         [routerLink]="['/products']"
         (mouseenter)="activeSection = 'section_2'"
         (mouseleave)="activeSection = ''"
    >
      <div class="color">
        <app-home-title
          [title]="'Услуги'"
          [description]="'Инфа про услугии Инфа про услугии Инфа про услугии Инфа про услугии Инфа про услугии'"
          [active]="activeSection === 'section_2'"
        ></app-home-title>
      </div>
    </div>


    <div class="home_content__item-3"
         [routerLink]="['/login']"
         (mouseenter)="activeSection = 'section_3'"
         (mouseleave)="activeSection = ''"
    >
      <div class="color">
        <app-home-title
          [title]="'Личный кабинет'"
          [description]="'Инфа про авторизацию инфа про авторизацию инфа про авторизацию инфа про авторизацию '"
          [active]="activeSection === 'section_3'"
        ></app-home-title>
      </div>
    </div>


    <div class="home_content__item-4"
         [routerLink]="['/login']"
         (mouseenter)="activeSection = 'section_4'"
         (mouseleave)="activeSection = ''"
    >
      <app-home-title
        [title]="'Результаты'"
        [description]="'Инфа про результаты Инфа про результаты  Инфа про результаты '"
        [active]="activeSection === 'section_4'"
      ></app-home-title>
    </div>


  </div>
</div>
