@import "../../../../../assets/scss/index";

.product-item-left{
  flex-direction: row;
}
.product-item-right{
  flex-direction: row-reverse;
  justify-content: space-between;
}
.product-item-yellow{
  background-color: $yellow;
}
.product-item-pink{
  background-color: $pink;
}

.product-item{
  display: flex;
  padding: 20px;
  margin-top: 40px;
  border-radius: $border-radius-1;

  .img{
    max-width: 330px;
    max-height: 440px;
    border-radius: $border-radius-1;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
    }
  }

  .desc{
    margin: 0px 6vh;
    max-width: 60%;
    width: 100%;

    .dropdown{
      padding: 10px;
      border-radius: $border-radius-2;
      background-color: $grey;
      cursor: pointer;
      //max-height: 500px; //for transition
      transition: all 1s ease;
    }
  }
}
