<div class="services">

  <div class="services-content mb-20">
    <div class="services-content-text">
      <h1 class="fnt-400-gilroy">Услуги</h1>
      <p class="fnt-300-gilroy">Мои тренировки отличаются чутким контролем техники выполнения упражнений,
        чтобы вы могли получить максимальную пользу от каждого движения. Тебе будет предоставлен удобный личный кабинет,
        где вы сможете отслеживать свой прогресс с помощью графиков тренировок и инфографики результатов.
      </p>
    </div>
  </div>

  <div class="services-list">
    <comp-first-train class="services-list_1"></comp-first-train>
    <comp-item-train class="services-list-personal services-list_2"
                     [title]="ServicesData.offline.title"
                     [description]="ServicesData.offline.description"
                     [price]="ServicesData.offline.price"
                     [serviceType]="TrainTypeEnum.Offline"
                     (click)="openModelTrainCard(ServicesData.offline, TrainTypeEnum.Offline)"
    ></comp-item-train>
    <comp-item-train class="services-list-personal services-list_3"
                     [title]="ServicesData.online.title"
                     [description]="ServicesData.online.description"
                     [price]="ServicesData.online.price"
                     [serviceType]="TrainTypeEnum.Online"
    ></comp-item-train>
    <comp-item-train class="services-list-personal services-list_4"
                     [title]="ServicesData.oneTime.title"
                     [description]="ServicesData.oneTime.description"
                     [price]="ServicesData.oneTime.price"
                     [serviceType]="TrainTypeEnum.OneTime"
    ></comp-item-train>
    <comp-item-train class="services-list-personal services-list_5"
                     [title]="ServicesData.program.title"
                     [description]="ServicesData.program.description"
                     [price]="ServicesData.program.price"
                     [serviceType]="TrainTypeEnum.Program"
    ></comp-item-train>
    <comp-item-train class="services-list-personal services-list_6"
                     [title]="ServicesData.diet.title"
                     [description]="ServicesData.diet.description"
                     [price]="ServicesData.diet.price"
                     [serviceType]="TrainTypeEnum.Diet"
    ></comp-item-train>
    <comp-item-train class="services-list-personal services-list_7"
                     [title]="ServicesData.distanceDiet.title"
                     [description]="ServicesData.distanceDiet.description"
                     [price]="ServicesData.distanceDiet.price"
                     [serviceType]="TrainTypeEnum.DistanceDiet"
    ></comp-item-train>
    <comp-item-train class="services-list-personal services-list_8"
                     [title]="ServicesData.distanceTrain.title"
                     [description]="ServicesData.distanceTrain.description"
                     [price]="ServicesData.distanceTrain.price"
                     [serviceType]="TrainTypeEnum.DistanceTrain"
    ></comp-item-train>
    <comp-item-train class="services-list-personal services-list_9"
                     [title]="ServicesData.distance.title"
                     [description]="ServicesData.distance.description"
                     [price]="ServicesData.distance.price"
                     [serviceType]="TrainTypeEnum.Distance"
    ></comp-item-train>
  </div>

</div>
