@import '../../../../../../assets/scss/index.scss';

.parameters-update {

  &-form{
    padding: 10px 0 10px 0;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-name {}
      &-value {
        width: 100px;
      }
    }
  }
}





.personal-data_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 8px;
}

.create-parameters{
    width: 100%;

    &_form{
      display: flex;
      flex-direction: column;
      align-items: center;

      .create-parameters__item{
        width: 450px;
        border-radius: $border-radius-2;
      }
    }
  }



.mat-calendar-body-cell.test
{
  background-color: $yellow !important;
  border-radius: 50%
}
.mat-form-field{
  width: 100%;
}
