
<div class="create-parameters" *ngIf="data.tag === 'parameters_add'">
  <form class="create-parameters-form" [formGroup]="createPersonalForm" (ngSubmit)="onCreateParameter()">
    <mat-form-field class="item" appearance="fill">
      <mat-label>Вес</mat-label>
      <input matInput formControlName="weight">
    </mat-form-field>
    <mat-form-field class="item" appearance="fill">
      <mat-label>Обхват груди</mat-label>
      <input matInput formControlName="shoulder_bust">
    </mat-form-field>
    <mat-form-field class="item" appearance="fill">
      <mat-label>Обхват плеч</mat-label>
      <input matInput formControlName="shoulder_girth">
    </mat-form-field>
    <mat-form-field class="item" appearance="fill">
      <mat-label>Обхват бедер</mat-label>
      <input matInput formControlName="shoulder_hips">
    </mat-form-field>
    <mat-form-field class="item" appearance="fill">
      <mat-label>Обхват бедра</mat-label>
      <input matInput formControlName="shoulder_hip">
    </mat-form-field>
    <mat-form-field class="item" appearance="fill">
      <mat-label>Дата замера</mat-label>
      <input matInput formControlName="date_metering" [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="flex-center mt-10">
      <button mat-raised-button color="primary">Сохранить замер</button>
    </div>
  </form>
</div>

<div class="update-parameters" *ngIf="data.tag === 'parameters'">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let item of data.eventData">
          <mat-expansion-panel-header>
            <mat-panel-title>{{item.date_metering | date: 'dd-MM-yyyy'}}</mat-panel-title>
          </mat-expansion-panel-header>
          <form class="update-parameters-form">
            <div class="item">
              <p class="item-name">Обхват груди (см.)</p>
              <mat-form-field class="item-value" appearance="fill">
                <input #shoulder_bust
                       [value]="item.shoulder_bust"
                       matInput numbersOnly>
              </mat-form-field>
            </div>
            <div class="item">
              <p class="item-name">Обхват плеч (см.)</p>
              <mat-form-field class="item-value" appearance="fill">
                <input #shoulder_girth
                       [value]="item.shoulder_girth"
                       matInput numbersOnly>
              </mat-form-field>
            </div>
            <div class="item">
              <p class="item-name">Обхват берда (см.)</p>
              <mat-form-field class="item-value" appearance="fill">
                <input #shoulder_hip
                       [value]="item.shoulder_hip"
                       matInput numbersOnly>
              </mat-form-field>
            </div>
            <div class="item">
              <p class="item-name">Обхват бедер (см.)</p>
              <mat-form-field class="item-value" appearance="fill">
                <input #shoulder_hips
                       [value]="item.shoulder_hips"
                       matInput numbersOnly>
              </mat-form-field>
            </div>
            <div class="item">
              <p class="item-name">Вес (кг.)</p>
              <mat-form-field class="item-value" appearance="fill">
                <input #weight
                       [value]="item.weight"
                       matInput>
              </mat-form-field>
            </div>
            <div class="update-parameters-form-btn">
              <div class="flex-center mt-10">
                <button (click)="onRemoveParameter(item.id)"
                        type="button" mat-raised-button
                        color="warn">Удалить замер</button>
              </div>
              <div class="flex-center mt-10">
                <button (click)="onUpdateParameter({
                        id: item.id,
                        shoulder_bust: shoulder_bust.value,
                        shoulder_girth: shoulder_girth.value,
                        shoulder_hip: shoulder_hip.value,
                        shoulder_hips: shoulder_hips.value,
                        weight: weight.value})" type="button"
                        color="primary" mat-raised-button
                >Сохранить изменения</button>
              </div>
            </div>
          </form>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="flex-center mt-10">
        <button (click)="changeTag('parameters_add')" mat-raised-button color="primary">Добавить замер</button>
    </div>
</div>

<div class="update-personal" *ngIf="data.tag === 'personal'">
  <form class="update-personal-form">
    <div class="item">
      <p class="item-name">Дата начала тренировок</p>
      <mat-form-field class="item-date" appearance="fill">
        <input #start_train matInput
               placeholder="{{(data.eventData.start_train  | date:'dd/MM/yyyy')}}"
               [matDatepicker]="picker_birth_day">
        <mat-datepicker-toggle matIconSuffix [for]="picker_birth_day"></mat-datepicker-toggle>
        <mat-datepicker #picker_birth_day></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="item">
      <p class="item-name">День рождения</p>
      <mat-form-field class="item-date" appearance="fill">
        <input #birth_day matInput
               placeholder="{{(data.eventData.birth_day| date:'dd/MM/yyyy')}}"
               [matDatepicker]="picker_start_train">
        <mat-datepicker-toggle matIconSuffix [for]="picker_start_train"></mat-datepicker-toggle>
        <mat-datepicker #picker_start_train></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="item">
      <p class="item-name">Гендер</p>
      <mat-form-field class="item-select" appearance="fill">
        <mat-select #gender [value]="data.eventData.gender">
          <mat-option [value]="GenderEnum.female">Женщина</mat-option>
          <mat-option [value]="GenderEnum.male">Мужчина</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="item">
      <p class="item-name">Рост (см.)</p>
      <mat-form-field class="item-value" appearance="fill">
        <input #height
               [value]="data.eventData.height"
               matInput numbersOnly>
      </mat-form-field>
    </div>
    <div class="flex-center mt-10">
      <button type="button" mat-raised-button
              color="primary"
              (click)="onUpdatePersonal({
                        birth_day: birth_day.value || data.eventData.birth_day,
                        start_train: start_train.value || data.eventData.start_train,
                        gender: gender.value,
                        height: height.value})"
      >Сохранить изменения</button>
    </div>
  </form>
</div>

<div class="create-schedule" *ngIf="data.tag === 'schedule_add'">
  Добавить расписание
  <div (click)="$event.stopPropagation()">
    <mat-calendar #calendar
                  (selectedChange)="select($event,calendar)"
                  [dateClass]="isSelected"
    ></mat-calendar>
  </div>
  <div class="create-schedule-details">
    <div class="item" *ngFor="let item of daySelectedDetails | keyvalue">
      <div>{{ getToString(item.key) | date:'dd-MM-yyyy'}}</div>
      <mat-form-field class="item-select" appearance="fill">
        <mat-select [(ngModel)]="daySelectedDetails[getToString(item.key)].description" required>
          <mat-option *ngFor="let train of TrainingEnum | keyvalue" [value]="train.key">
            {{train.value}}
          </mat-option>
        </mat-select>
        <mat-hint align="start"><strong>Тип тренировки</strong> </mat-hint>
      </mat-form-field>
      <mat-form-field class="item-select" appearance="fill">
        <input required [(ngModel)]="daySelectedDetails[getToString(item.key)].time_start"
               matInput type="time" >
        <mat-hint align="start"><strong>Начало</strong> </mat-hint>
      </mat-form-field>
      <mat-form-field class="item-select" appearance="fill">
        <mat-select [(ngModel)]="daySelectedDetails[getToString(item.key)].time_duration" required>
          <mat-option [value]="'1:00'">1:00</mat-option>
          <mat-option [value]="'1:30'">1:30</mat-option>
        </mat-select>
        <mat-hint align="start"><strong>Длительность</strong> </mat-hint>
      </mat-form-field>
    </div>
    <div class="flex-center mt-10">
      <button mat-raised-button color="primary"
              (click)="createTrainingDays()"
      >Сохранить тренировочные дни</button>
    </div>
  </div>
</div>

<div *ngIf="data.tag === 'schedule'">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of data.eventData">
      <mat-expansion-panel-header>
        <mat-panel-title>{{item.date| date:'dd-MM-yyyy'}}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mt-10">
        <div>Длбавить изменить день тренировки</div>
        <div>Длбавить изменить вид тренировки</div>
        <div>Длбавить сохранение тренировки</div>
        <div>Длбавить удаление тренировки</div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="flex-center mt-10">
    <button (click)="changeTag('schedule_add')" mat-raised-button color="primary">Добавить тренировочные дни</button>
  </div>
</div>
