@import "../../../../../assets/scss/index";

.create-client{
  width: 100%;

  &_form{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;

    .create-client__item{
      width: 600px;
      border-radius: $border-radius-2;
    }
  }
}
