<div class="reviews">

  <div class="reviews-title fnt-300-gilroy">Отзывы моих учеников</div>


  <div class="reviews-content">
    <div class="reviews-content-block">
      <div class="reviews-content-block-video">
        <div class="content">
          <vg-player>
            <video #media_1
                   (play)="changeStatusVideo($event, 0)"
                   (pause)="changeStatusVideo($event, 0)"
                   [vgMedia]="$any(media_1)"
                   id="singleVideo-1"
                   preload="auto"
                   src="../../../../../assets/reviews/1.mp4"
            ></video>
            <el-video-play-icon [status]="statusVideo[0].status"></el-video-play-icon>
          </vg-player>
        </div>
        <div class="name fnt-600-gilroy">Имя Фамилия</div>
      </div>
      <div class="reviews-content-block-text">
          <div class="content fnt-400-gilroy">
            Хочется поблагодарить замечательного тренера Алиночку 😍😍🔥 <br>
            Алина -  отличный тренер, грамотный профессионал и просто хороший человек, который способен творить чудеса с твоим телом) <br>
            Теперь я знаю, что в моем теле есть мышцы и я начала их наконец чувствовать!!! Теперь я вижу результаты!!! Теперь я чувствую в себе море энергии)❤️ <br>
            И все это только благодаря чуткому руководству, пристальному и постоянному вниманию к каждому движению моего любимого тренера! <br>
            Она умеет заряжать энергией и давать веру в свои силы. Спасибо за индивидуальную программу и за рекомендации по питанию. <br>
            Оказывается кушать можно очень вкусно и очень много и при этом быть с прессом и в хорошей форме)) <br>
            Каждое упражнение она доводит до идеала и объясняет, что как и где нужно делать) поясняет и детально показывает технику! <br>
            Можно сказать , как ребеночка за ручку ведёт в мир красивого и здорового тела))) <br>
          </div>
          <div class="name fnt-600-gilroy">Имя Фамилия</div>
      </div>
    </div>
    <div class="reviews-content-block">
      <div class="reviews-content-block-text">
        <div class="content fnt-400-gilroy">
          Мы с тобой занимаемся уже полгода, но это самые комфортные тренировки, которые у меня когда-либо были, у меня натянутые отношения со спортом, и я искала то, что мне подойдет , и чем я буду заниматься с удовольствием. <br>
          Так вот на наших тренировках все таки и есть, я получаю и удовольствие, и результат! <br>
          Я вижу, как меняется и откликается мое тело, у меня стало гораздо больше выносливости и сил. <br>
          Благодарю тебя, что услышала мои пожелания, и помимо силовых нагрузок, мы много уделяем внимания осанке, спине, и я уже давно забыла, что такое боль в пояснице. <br>
          С тобой очень комфортно, восхищает твоя дисциплинированность как специалиста! Спасибо за работу)) <br>
        </div>
        <div class="name fnt-600-gilroy">Имя Фамилия</div>
      </div>
      <div class="reviews-content-block-video">
        <div class="content">
          <vg-player>
            <video #media_2
                   (play)="changeStatusVideo($event, 1)"
                   (pause)="changeStatusVideo($event, 1)"
                   [vgMedia]="$any(media_2)"
                   id="singleVideo-2"
                   preload="auto"
                   src="../../../../../assets/reviews/2.mp4"
            ></video>
            <el-video-play-icon [status]="statusVideo[1].status"></el-video-play-icon>
          </vg-player>
        </div>
        <div class="name fnt-600-gilroy">Имя Фамилия</div>
      </div>
    </div>
  </div>


</div>
