<div class="header-sticky">

  <div class="header-sticky-logo"><img src="../../../../../assets/img/logo-1.svg" alt="logo"></div>

  <div class="header-sticky-active">
    <div class="header-sticky-active-menu">
      <p class="header-sticky-active-menu-item fnt-400-gilroy">Обо мне</p>
      <p class="header-sticky-active-menu-item fnt-400-gilroy">Услуги</p>
      <p class="header-sticky-active-menu-item fnt-400-gilroy">Вопросы</p>
    </div>
    <div class="header-sticky-active-buttons">
      <el-button-custom [text]="'Личный кабинет'"
                        [type]="'stoked'" [color]="'#666B7D'"
                        [bgColor]="'transparent'" [icon]="'input'"
                        (click)="login()"
      ></el-button-custom>
      <el-button-custom [text]="'Записаться на бесплатную тренировку'"
                        [type]="'flat'"
      ></el-button-custom>
    </div>
  </div>

</div>
