<div class="product-item"
     [ngClass]="[
     number % 2 ? 'product-item-left' : 'product-item-right',
     number === 2 ? 'product-item-yellow' : '',
     number === 6 ? 'product-item-yellow' : '',
     number === 4 ? 'product-item-pink' : '',
     ]">
  <div class="img">
    <img src="../../../../../assets/img/client/{{product.photo}}">
  </div>
  <div class="desc">
    <p class="fnt-bold-2 mb-20">{{product.name}}</p>
    <div class="mb-10">
      <span class="fnt-bold-1">Цена: </span>
      <span class="fnt-normal-1">{{product.price}}</span>
    </div>
    <div class="mb-10">
      <span class="fnt-bold-1">Что входит: </span>
      <span class="fnt-normal-1">{{product.include}}</span>
    </div>

    <div *ngIf="product.duration" class="mb-10">
      <span class="fnt-bold-1">Длительность: </span>
      <span class="fnt-normal-1">{{product.duration}}</span>
    </div>
    <div *ngIf="product.time" class="mb-10">
      <span class="fnt-bold-1">Продолжительность тренировки: </span>
      <span class="fnt-normal-1">{{product.time}}</span>
    </div>
    <div *ngIf="product.quantity" class="mb-10">
      <span class="fnt-bold-1">Количество занятий: </span>
      <span class="fnt-normal-1">{{product.quantity}}</span>
    </div>

    <div class="mt-20" [ngClass]="activeDesc ? 'dropdown-on' : 'dropdown-of'">
      <div class="mb-10" (click)="activeDesc ? activeDesc = false : activeDesc = true">
        <span class="fnt-bold-1">Подробнее </span>
        <span class="fnt-bold-1">+</span>
      </div>
      <div *ngIf="activeDesc">
        <p class="fnt-normal-1 mb-10" *ngFor="let i of product.detalization">{{i}}</p>
      </div>
    </div>

  </div>
</div>
