<div class="client-offline">

  <app-personal-data *ngIf="storeService.tabsOnPersonalPage === 1 && user.schedules"
                     [user]="user">
  </app-personal-data>

  <el-schedule *ngIf="storeService.tabsOnPersonalPage === 2 && user.schedules"
               [user]="user"
               [type]="'client-offline'"
  ></el-schedule>

  <app-my-parameters *ngIf="storeService.tabsOnPersonalPage === 3 && user.parameters"
                     [user]="user">
  </app-my-parameters>

  <app-before-after *ngIf="storeService.tabsOnPersonalPage === 4"
                    [user]="user">
  </app-before-after>

</div>

