@import "../../../../../../styles";

.first-train {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  background-color: $static-grey-middle;

  &-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    color: $static-white-middle;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: end;

    &-desc {
      color: $static-white-middle;
      width: 50%;
    }
    &-vector {
      display: flex;
      justify-content: end;
      width: 50%;
    }
  }

}
