<div class="login  container-p-20">

    <form class="login_form" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
      <mat-form-field class="login_form__item" appearance="fill">
        <mat-label>Логин</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field class="login_form__item" appearance="fill">
        <mat-label>Пароль</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button
                matSuffix (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <el-button-custom [text]="'Войти в личный кабинет'"
                        [type]="'flat'"
      ></el-button-custom>

    </form>

</div>
