@import "../../../../../../styles";

.settings {

  &-info {
    display: flex;
    align-items: center;

    &-description {
      margin-left: 20px;
      transform: translateY(-10px);

      &-name {
        font-size: 28px;
      }
      &-username {
        margin-top: 10px;
        color: $static-grey-middle;
      }
    }
  }

  &-activation {

    &-header {}

    &-active {
      display: flex;
      align-items: center;

      &-checkbox {}
      &-description {
        margin-left: 10px;
        color: $static-grey-middle;
      }
    }
  }

  &-remove {

    &-header {}
    &-description {
      color: $static-grey-middle;
    }
    &-active {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.header-block {
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

hr {
  opacity: .15;
  margin: 25px 0;
}

.with-250 {
  width: 250px;
}
