@use '@angular/material' as mat;
@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$custom-pink-palette: (
  50: #fff2f9,
  100: #ffddf0,
  200: #ffc7e6,
  300: #ffb1db,
  400: #ffa0d4,
  500: #ff8fcc,
  600: #ff87c7,
  700: #ff7cc0,
  800: #ff72b9,
  900: #ff60ad,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffeaf4,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$Trainer-frontend-primary: mat.define-palette($custom-pink-palette);
$Trainer-frontend-grey: #666B7D;
$Trainer-frontend-accent: mat.define-palette($custom-pink-palette, A200, A100, A400);
$Trainer-frontend-warn: mat.define-palette(mat.$red-palette);

$Trainer-frontend-theme: mat.define-light-theme((
  color: (
    primary: $Trainer-frontend-primary,
    grey: $Trainer-frontend-grey,
    accent: $Trainer-frontend-accent,
    warn: $Trainer-frontend-warn,
  )
));

@include mat.all-component-themes($Trainer-frontend-theme);


$static-grey-extralight: #e7e8ee;
$static-grey-light: #afb4c4;
$static-grey-middle: #666B7D;
$static-grey-strong: #2B2F3C;
$static-pink-middle: #FF8FCC;
$static-pink-light: rgb(255, 231, 243);
$static-pink-extralight: #FAF9FA;
$static-white-middle: #ffffff;


:root {
  //change default swiper colors
  --swiper-theme-color: #FF8FCC!important;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//SCROLLBAR============================================
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ff8fcc;
  border-radius: 10px;
}
//SCROLLBAR============================================

//TABS=================================================
.mat-tab-header {
  border-bottom: none!important;

  .mat-tab-label-active {
    border-radius: 0px 0px 20px 20px;
    background-color: #ff8fcc!important;
    opacity: 1!important;
    color: white;
  }
}
.mat-ink-bar {
  display: none!important;
}
//TABS=================================================

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "assets/scss/index";
