@import "../../../assets/scss/index";

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
  margin-bottom: 40px;

  &_back{
    width: 30%;
    cursor: pointer;
  }
  &_title{
    width: 30%;
    text-align: center;
  }
  &_logout{
    width: 30%;
    cursor: pointer;
    text-align: right;
  }
}
