@import "../../../assets/scss/index";

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: white;

  &_back{
    width: 30%;
    cursor: pointer;
    color: inherit;
  }
  &_title{
    width: 30%;
    text-align: center;
    color: inherit;
  }
  &_logout{
    width: 30%;
    cursor: pointer;
    text-align: right;
    color: inherit;
  }
}

.dark{
  background-color: $pink-main;
  color: white!important;
}
