@import '../../../../../../styles';

.modal-before-after-create {


  .custom-input {
    display: flex;
    justify-content: space-between;

    &-block:not(:last-child) {
      margin-right: 10px;
    }

    &-block {
      cursor: pointer;
      margin-bottom: 20px;

      &-img {
        width: 180px;
        height: 270px;
        overflow: hidden;
        border-radius: 10px;
        background-color: $static-grey-extralight;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          margin-top: 15px;
          color: $static-grey-middle;
          font-size: 12px;
        }

        img {
          min-width: 230px;
          height: 320px;
        }
      }
    }
  }

  hr {
    opacity: .15;
    margin: 15px 0;
  }

  .description {
    color: $static-grey-middle;
  }

  .date {
    margin-top: 15px;
    width: 470px;
  }

  .button {
    display: flex;
    justify-content: start;
  }


}


