@import "../../../../../assets/scss/index";

h2{
  color: $black;
}

table{
  width: 100%;

  .icon-active {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin: 0 10px 0 10px;
    padding: 5px;
  }
}
