@import "../../../../../styles";

.update-parameters {
  width: 100%;

  &-active {
    margin-bottom: 40px;
  }

  &-table{
    width: 100%;
    min-width: 810px;

    .icon-active {
      display: flex;
      align-items: center;
      margin: 0 10px 0 10px;
      border-radius: 15px;
      padding: 5px;
      cursor: pointer;
      color: $static-grey-middle;
      background-color: rgba(255, 152, 219, 0.13);

      mat-icon {
        margin-right: 5px;
      }
    }
  }
}



.mat-column-first_name,
.mat-column-last_name,
.mat-column-username,
.mat-column-parameters,
.mat-column-personal,
.mat-column-schedule {
  width: 16% !important;
}
.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 7px;
  display: inline-block;
  background-color: #2B2F3C;
}
.indicator-on {
  background-color: $static-pink-middle;
}
