<div class="update-parameters">

  <div class="update-parameters-active">
    <el-select-activity-client
      (changeClientGroupEmitter)="changeClientGroup($event)"
      [btnGroup]="btnGroup"
    ></el-select-activity-client>
  </div>

  <p class="fnt-400-gilroy" *ngIf="allClients.length === 0">Таких клиентов пока нет</p>

  <div class="update-parameters-table" *ngIf="allClients.length > 0">
    <table class="custom-table fnt-400-gilroy" mat-table [dataSource]="allClients">
      <ng-container matColumnDef="indicator">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="indicator" [style]="element.is_active
              ? {'background-color': '#FF8FCC'}
              : {'background-color': '#666B7D'}"></div>
        </td>
      </ng-container>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>никнейм</th>
        <td mat-cell *matCellDef="let element">{{element.username}}</td>
      </ng-container>
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef>имя</th>
        <td mat-cell *matCellDef="let element">{{element.first_name }}</td>
      </ng-container>
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef>фамилия</th>
        <td mat-cell *matCellDef="let element">{{element.last_name }}</td>
      </ng-container>
      <ng-container matColumnDef="parameters">
        <th mat-header-cell class="txt-align" *matHeaderCellDef>параметры</th>
        <td mat-cell *matCellDef="let element" (click)="openModal(element.id, element.parameters, 'parameters')">
          <div class="icon-active"><mat-icon>bar_chart</mat-icon>
            {{element.parameters.length > 0 ? (element.parameters[element.parameters.length - 1].weight + '/'
            + element.parameters[element.parameters.length - 1].shoulder_bust + '/'
            + element.parameters[element.parameters.length - 1].shoulder_girth + '/'
            + element.parameters[element.parameters.length - 1].shoulder_hips + '/'
            + element.parameters[element.parameters.length - 1].shoulder_hip) : '-'}}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="personal">
        <th mat-header-cell class="txt-align" *matHeaderCellDef>персональные данные</th>
        <td mat-cell *matCellDef="let element" (click)="openModal(element.id, element.personal, 'personal')">
          <div class="icon-active"><mat-icon>person</mat-icon>{{element.personal.start_train | date: 'dd/MM/YYYY'}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="schedule">
        <th mat-header-cell class="txt-align" *matHeaderCellDef>график</th>
        <td mat-cell *matCellDef="let element" (click)="openModal(element.id, element.schedules, 'schedule')">
          <div class="icon-active"><mat-icon>schedule</mat-icon>
            {{element.schedules.length > 0 ? (element.schedules[element.schedules.length - 1].date | date: 'dd/MM/YYYY') : '-'}}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="settings">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="openSettingsModal(element)">
          <mat-icon>settings</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedKey"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedKey;"></tr>
    </table>
    <!--//TODO: потом добавить пагинатор-->
    <!--  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>-->
  </div>

</div>
