@import "../../../../assets/scss/index";
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.login{
  width: 100%;

  &_form{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item{
      width: 600px;
      border-radius: $border-radius-2;
    }
  }
}

