<div class="footer">

  <div class="footer-logo"><img src="../../../../../assets/img/logo-2.svg"></div>

  <div class="footer-content">
    <div class="footer-content-item-1">
      <p class="heading fnt-400-gilroy">Навигация</p>
      <p class="desc fnt-400-gilroy" (click)="onScroll('about')">Обо мне</p>
      <p class="desc fnt-400-gilroy" (click)="onScroll('services')">Услуги</p>
      <p class="desc fnt-400-gilroy" (click)="onScroll('reviews')">Отзывы</p>
      <p class="desc fnt-400-gilroy" (click)="onScroll('questions')">Вопросы</p>
      <div class="btn">
        <el-button-custom [text]="'Личный кабинет'"
                          [type]="'stoked'" [color]="'#ffffff'"
                          [bgColor]="'#2B2F3C'" [icon]="'input'"
                          (click)="login()"
        ></el-button-custom>
      </div>
      <p class="policy fnt-400-gilroy"><u>Политика конфиденциальности</u></p>
    </div>
    <div class="footer-content-item-2">
      <p class="heading fnt-400-gilroy">Контакты</p>
      <p class="desc fnt-400-gilroy">Instagram<mat-icon> call_made</mat-icon></p>
      <p class="desc fnt-400-gilroy">VKontakte<mat-icon> call_made</mat-icon></p>
      <p class="desc fnt-400-gilroy">E-mail<mat-icon> call_made</mat-icon></p>
    </div>
  </div>

</div>
