@import "../../../../../styles";

.footer {
  display: flex;
  margin: 50px 0 50px 0;

  &-logo {
    width: 50%;
  }

  &-content {
    width: 50%;
    display: flex;

    &-item-1 {
      width: 50%;
    }
    &-item-2 {
      width: 50%;
    }
  }


  .heading {
    margin-bottom: 20px;
    color: $static-grey-middle;
    font-size: 20px;
    line-height: 124%;
  }
  .desc {
    margin-bottom: 15px;
    color: $static-grey-strong;
    font-size: 16px;
    line-height: 124%;
    cursor: pointer;
    mat-icon {
      transform: scale(0.8) translateY(5px);
    }
  }
  .btn {
    margin-top: 30px;
  }
  .policy {
    cursor: pointer;
    margin-top: 60px;
    font-size: 16px;
    line-height: 124%;
    color: $static-grey-middle;
  }
}
