@import '../../../../../styles';

.my-parameters {

  .heading {
    color: $static-grey-middle;
  }

  &-table {
    min-width: 500px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;

    table{
      width: 100%;
    }
  }

  &-graph {
    width: 100%;
    min-width: 500px;
    overflow: hidden;

    canvas {
      width: inherit;
    }
  }

}

.mat-column-date_metering {
  width: 35%;
}
.mat-column-shoulder_hips,
.mat-column-shoulder_hip,
.mat-column-shoulder_girth,
.mat-column-weight,
.mat-column-shoulder_bust {
  width: 13%;
}







.block-padding {
  padding: 15px;
  margin-bottom: 30px;
}


