@import "../../../../../assets/scss/index";

h2{
  color: $black;
}

table{
  width: 100%;
}



.block-padding {
  padding: 15px;
  margin-bottom: 30px;
}

.mat-column-shoulder_hips,
.mat-column-shoulder_hip,
.mat-column-shoulder_girth,
.mat-column-date_metering,
.mat-column-weight,
.mat-column-shoulder_bust {
  width: 17%;
}
